{include file="public/header" /}
<section class="layui-larry-box">
	<div class="larry-personal">
		<div class="layui-tab">
			<blockquote class="layui-elem-quote news_search">
				<!--<div class="layui-inline">
					<div class="layui-input-inline">
						<input value="" placeholder="请输入关键字" class="layui-input search_input" type="text">
					</div>
					<a class="layui-btn search_btn">查询</a>
				</div>-->
				<input type="hidden" id="type" value="{$type}">
				<div class="layui-inline">
					<a href="{:url('site/index')}" id="edit" class="layui-btn" style="background-color:#5FB878"><返回文章</a>
				</div>
				{if condition="in_array('site/articleaddall',$operable)"}
					<div class="layui-inline">
						<a data-url="{:url('site/articleaddall')}" class="layui-btn layui-btn-normal newsAdd_btn">批量添加</a>
					</div>
				{/if}
					
			</blockquote>

			<!-- 操作日志 -->
			<div class="layui-form news_list">
				<table class="layui-table">
					<thead>
						<tr>
							<th>
								<input id="check" type="checkbox" style="display: block;">
							</th>
							<th>标题</th>
							<th>封面图</th>
							<th>简介</th>
							<th>发布时间</th>
							<th>是否已存在</th>
						</tr>
					</thead>
					<tbody class="news_content" id="table">
						{volist name="article['data']" id="vo"}
							<tr>
								<td>
									{if condition="$vo['is_be'] eq 0"}
										<input name="check" type="checkbox" value="{$vo['title'] . '_' . $v['create_time']}" style="display: block;">
									{/if}
								</td>
								<td>{$vo.title}</td>
								<td>
									{if condition="$vo.thumb_url"}
										<img src="{$vo.thumb_url}" style="width: 50px;height: 50px;" />
									{else/}
										无图
									{/if}
								</td>
								<td style="width: 40%;">
									<div style="width: 100%;height: 50px;overflow: auto;">
										{$vo.digest}
									</div>
								</td>
								<td>
									<span>{$vo.create_time|date='Y-m-d H:i:s',###}</span>
								</td>
								<td>
									<span>
										{if condition="$vo['is_be'] eq 1"}
											是
										{else/}
											否
										{/if}
									</span>
								</td>
							</tr>
						{/volist}
					</tbody>
				</table>
				<div style="text-align: right;">
					{$article.page}
				</div>
			</div>

		</div>
	</div>
</section>
{include file="public/footer" /}
<script>
	$(function(){
		//点击图片查看大图
		$("img").click(function(){
			var id = $(this).attr('data-id');
			layer.photos({
			  	photos: '#table',
			  	anim: 5
			});
		})
		
		/**
		 * 多条删除
		 */
		$(".newsAdd_btn").click(function(){
			var checkedList = new Array();   
			$("input[name='check']:checked").each(function() {   
			    checkedList.push($(this).val());   
			})
			var title = checkedList;
			var url = $(this).attr("data-url");
			var type = $('#type').val();
			layer.open({
				content: '您正在进行文章添加操作，是否继续?',
				icon : 3,
				yes: function(layero, index){
				    $.ajax({
						type:"post",
						dataType:"json",
						url:url,
						data:{
							title:title,
							type:type
						},
						success:function(date){
							if(date.status == 1){
								layer.msg(date.msg,{icon:1,time:1000});
								setTimeout(function(){
									location.reload();
								},400)
							}else{
								layer.msg(date.msg,{icon:2,time:1000});
							}
						}
					});
			  	}
			});
		})
		
		/**
		 * 全选、全不选
		 */
		$("#check").click(function(){
			var check = $(this).is(":checked");
			if(check){
				$('input[name="check"]').each(function(){
                    $(this).prop("checked",true);  
                }); 
			}else{
				$('input[name="check"]').each(function(){
                    $(this).prop("checked",false);  
                }); 
			}
		})
	})
</script>