{include file="public/header" /}
<section class="layui-larry-box">
	<div class="larry-personal">
		<div class="layui-tab">
			<blockquote class="layui-elem-quote news_search">
				<!--<div class="layui-inline">
					<div class="layui-input-inline">
						<input value="" placeholder="请输入关键字" class="layui-input search_input" type="text">
					</div>
					<a class="layui-btn search_btn">查询</a>
				</div>-->
				{if condition="in_array('site/articleadd',$operable)"}
					<div class="layui-inline">
						<a href="{:url('site/articleadd')}" class="layui-btn layui-btn-normal newsAdd_btn">添加文章</a>
					</div>
				{/if}
				{if condition="in_array('site/articledel',$operable)"}
					<div class="layui-inline">
						<a data-url="{:url('site/articledel')}" class="layui-btn layui-btn-danger batchDel">批量删除</a>
					</div>
				{/if}
					
			</blockquote>

			<!-- 操作日志 -->
			<div class="layui-form news_list">
				<table class="layui-table">
					<thead>
						<tr>
							<th>
								<input id="check" type="checkbox" style="display: block;">
							</th>
							<th>标题</th>
							<th>封面图</th>
							<th>简介</th>
							<th>发布时间</th>
							<th>所属板块</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody class="news_content" id="table">
						{volist name="article['list']" id="vo"}
							<tr>
								<td>
									<input name="check" type="checkbox" value="{$vo.id}" style="display: block;">
								</td>
								<td>{$vo.title}</td>
								<td>
									<img src="{$vo.cover}" style="width: 50px;height: 50px;" />
								</td>
								<td style="20%">
									<div style="width: 100%;height: 50px;overflow: auto;">
										{$vo.sketch}
									</div>
								</td>
								<td>
									<span>{$vo.time|date='Y-m-d H:i:s',###}</span>
								</td>
								<td>
									{if condition="$vo['type'] eq 1"}
										设计案例
									{else/}
										施工档案
									{/if}
								</td>
								<td>
									{if condition="in_array('site/articleedit',$operable)"}
										<a href="{:url('site/articleedit',array('id'=>$vo['id']))}" class="layui-btn layui-btn-mini "><i class="iconfont icon-edit"></i> 编辑</a>
									{/if}
									{if condition="(in_array('site/articledel',$operable))"}
										<a data-url="{:url('site/articledel')}" data-id="{$vo.id}" class="layui-btn layui-btn-danger layui-btn-mini delete" data-id="1"><i class="layui-icon"></i> 删除</a>
									{/if}
								</td>
							</tr>
						{/volist}
					</tbody>
				</table>
				<div style="text-align: right;">
					{$article.page}
				</div>
			</div>

		</div>
	</div>
</section>
{include file="public/footer" /}
<script>
	$(function(){
		//点击图片查看大图
		$("img").click(function(){
			var id = $(this).attr('data-id');
			layer.photos({
			  	photos: '#table',
			  	anim: 5
			});
		})
		
		/**
		 * 多条删除
		 */
		$(".batchDel").click(function(){
			var checkedList = new Array();   
			$("input[name='check']:checked").each(function() {   
			    checkedList.push($(this).val());   
			})
			var id = checkedList.join(',');
			var url = $(this).attr("data-url");
			layer.open({
				content: '您正在进行删除操作，是否确认?',
				icon : 3,
				yes: function(layero, index){
				    $.ajax({
						type:"post",
						dataType:"json",
						url:url,
						data:{
							id:id
						},
						success:function(date){
							if(date.status == 1){
								layer.msg(date.msg,{icon:1,time:1000});
								setTimeout(function(){
									location.reload();
								},400)
							}else{
								layer.msg(date.msg,{icon:2,time:1000});
							}
						}
					});
			  	}
			});
		})
		
		/**
		 * 全选、全不选
		 */
		$("#check").click(function(){
			var check = $(this).is(":checked");
			if(check){
				$('input[name="check"]').each(function(){
                    $(this).prop("checked",true);  
                }); 
			}else{
				$('input[name="check"]').each(function(){
                    $(this).prop("checked",false);  
                }); 
			}
		})
		
		/**
		 * 单条删除
		 */
		$(".delete").click(function(){
			var status = $(this).prev().val();
			var url = $(this).attr("data-url");
			var id = $(this).attr("data-id");
			layer.open({
				content: '您正在进行删除操作，是否确认?',
				icon : 3,
				yes: function(layero, index){
				    $.ajax({
						type:"post",
						dataType:"json",
						url:url,
						data:{
							id:id
						},
						success:function(date){
							if(date.status == 1){
								layer.msg(date.msg,{icon:1,time:1000});
								setTimeout(function(){
									location.reload();
								},400)
							}else{
								layer.msg(date.msg,{icon:2,time:1000});
							}
						}
					});
			  	}
			});
		})
		
		/**
		 * 修改用户禁用状态
		 */
		$(".status div").click(function(){
			var index = layer.load(0, {time: 100});
			var status = $(this).prev().val();
			var url = $(this).attr("data-url");
			var id = $(this).attr("data-id");
			if(status == 1){
				status = 0;
			}else{
				status = 1;
			}
			if(!url){
				layer.msg('无权限操作此项',{icon:1,time:1000});
			}else{
				$.ajax({
					type:"post",
					dataType:"json",
					url:url,
					data:{
						id:id,
						status:status
					},
					success:function(date){
						layer.close(index);
						if(date.status == 1){
							layer.msg(date.msg,{icon:1,time:1000});
							setTimeout(function(){
								location.reload();
							},400)
						}else{
							layer.msg(date.msg,{icon:2,time:1000});
						}
					}
				})
			}
		})
	})
</script>